body {
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: rgb(207, 208, 219);
}

header {
    font-size: 42px;
    text-align: center;
}
header h1 {
    color: rgb(67, 17, 160);
}
img {
    width: 300px;
}

main {
    background-color: rgb(122, 74, 218);
    padding: 32px;
    margin: 32px auto;
    width: 800px;
    border-radius: 8px;
    color: rgb(248, 241, 255);
}